body {
    width: 20rem;
}

.website-configs-container,
.wesbite-config ul {
    list-style: none;
    padding: 0;
}

.website-configs-container > li {
    background-color: #e0e0e0;
}

.website-config-label {
    display: inline-block;
    font-weight: bold;
    min-width: 7rem;
}

.website-configs-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.wesbite-config {
    padding: 0.5rem;
}

.wesbite-config .config-actions {
    padding-top: 0.5rem;
    display: flex;
    gap: 1rem;
}

.config-form {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.editable {
    display: inline-block;
    background-color: #fefefe;
    border: 1px solid black;
    min-width: 7rem;
    /* font-size: 1rem; */
}